.card-verde {
    background-color: #7abb3b;
    color: white; /* Cambia el color del texto a blanco para mejor contraste */
  }

.card-img-top {
    height: 200px; /* Establece el alto deseado */
    object-fit: cover; /* Asegura que la imagen cubra completamente el área sin distorsionarse */
    width: 100%; /* Asegura que la imagen se ajuste al ancho del contenedor */
}

/* .btn-custom {
    background-color: #7abb3b; 
    color: white; 
    border: none; 
    transition: transform 0.3s; 
}
  
.btn-custom:hover {
    background-color: #689f38; 
    transform: scale(1.05); 
}
   */